.checkboxWrapper {
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
}

.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;

  &.checked {
    background-color: #0077ff;
    border-color: #0077ff;
  }

  &.disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
  }
}

.checkedIcon {
  width: 20px;
  height: 20px;
  color: #fff;
}

.label {
  margin-left: 10px;
  cursor: pointer;

  &.disabled {
    color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
